twisty-player {
    width: 100%;
    margin: auto;
    padding: 1px;
}

twisty-alg-viewer {
    width: 100%;
    margin: auto;
    padding: 1px;    
}

twisty-alg-viewer .twisty-alg-current-move {
    color: yellowgreen;
    font-weight: 400;
    font-size: 1.2em;
    padding: 1px;
}

#player {
    background-color: inherit;
}

#algorithm {
    background-color: inherit;
    width: 90%;
    text-align: center;
    padding: 2px;
    font-size: 1.2em;
}

#control {
    background-color: inherit;
    width: 100%;
    margin: auto;
    text-align: center; 
}

.cube-model-png {
    width: 130px;
    height: 130px;
    transform: translate(-15%, -15%);
    margin: auto;
    padding: 0;
}

.cube-model-svg {
    width: 120px;
    height: 120px;
    transform: translate(-10%, -10%);
    margin: auto;
    padding: 0;
}

.btn-sized {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.6rem 0.8rem;
}
