twisty-player {
    width: 100%;
    margin: auto;
    padding: 2px;
}

twisty-alg-viewer {
    width: 100%;
    margin: auto;
    padding: 2px;
}

twisty-alg-viewer .twisty-alg-current-move {
    color: yellowgreen;
    font-weight: 400;
    font-size: 1.4em;
    padding: 2px;
}

#player {
    background-color: inherit;
}

#algorithm {
    width: 100%;
    text-align: center;
    padding: 2px;
    background-color: inherit;
    font-size: 1.2em;
}

#control {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: inherit;
}

.cube-modal {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 0;
}

