html, body {
  margin: 1px;
  padding: 1px;
  display: grid;
  font-family: "Ubuntu", Tahoma, Verdana, sans-serif;
  font-weight: 300;
  font-style: normal;
}
        
a:any-link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.footer {
  margin-top: 10px;
  font-size: 0.8em;
}
